<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <title>CraftKori</title>
</head>

<body>
    
    <header>
        <h1>CraftKori</h1>
    </header>

    <!--Top Banner-->
    <section class="banner">
        <img src="../static/img/banner.png" alt="craftkori welcome banner">
        <div class="welcome">
            <h2>Welcome to <br><span class="typewriter"></span></h2>
        </div>
    </section>

    <!--Navigation-->
    <nav class="main-nav">
        <ul>
            <li><a href="/join.html" class="join">Join the community</a></li>
            <li><a href="/news.html">Latest news</a></li>
            <li><a href="/games.html">Mini games</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>

    <!--Main section of the home page-->
    <main>
        <article>
            <h2>It's a me, Steve</h2>
            <p>Introducing you to CraftKori, an invite-only place to craft, to build, to explore, 
                to fight, to go to adventures, to unleash creativity with infinite possibilities. 
                Be ready to explore the unknown world of Minecraft with other native players. 
                Introducing you to CraftKori, an invite-only place to craft, to build, to explore, 
                to fight, to go to adventures, to unleash creativity with infinite possibilities. 
                Be ready to explore the unknown world of Minecraft with other native players. 
                Introducing you to CraftKori, an invite-only place to craft, to build, to explore, 
                to fight, to go to adventures, to unleash creativity with infinite possibilities. 
                Be ready to explore the unknown world of Minecraft with other native players.</p>
        </article>
        <ul class="images">
            <li><img src="../static/img/thumb-1.png" alt="craftkori thumb 1"></li>
            <li><img src="../static/img/thumb-2.png" alt="craftkori thumb 2"></li>
        </ul>
    </main>

    <section class="join">
        <h2>Join Today!</h2>
        <p>If you share your interests and we find you suitable, you can also play with us.
            So, give it a try.
        </p>
        <form>
            <input type="email" name="email" placeholder="Type email and hit enter" required>
        </form>
    </section>

    <footer>
        <p class="copyright">Copyright 2025 CraftKori Devs<br>Beta Tester: Risalat Islam</p>
    </footer>

</body>
</html>
